
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="新闻" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref=".xinwen">
    <ion-nav-view name="xinwen"></ion-nav-view>
  </ion-tab>

  <ion-tab title="视频" icon-off="ion-social-youtube-outline" icon-on="ion-social-youtube-outline" ui-sref=".shipin">
    <ion-nav-view name="shipin"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="时尚" icon-off="ion-tshirt-outline" icon-on="ion-tshirt" ui-sref=".shishang">
    <ion-nav-view name="shishang"></ion-nav-view>
  </ion-tab>

  <ion-tab title="图片" icon-off="ion-images" icon-on="ion-images" ui-sref=".picture">
    <ion-nav-view name="picture"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <!--<ion-tab title="我的" icon-off="ion-android-person" icon-on="ion-android-person" ui-sref=".wode">-->
    <!--<ion-nav-view name="wode"></ion-nav-view>-->
  <!--</ion-tab>-->

</ion-tabs>

