<ion-view>
  <ion-nav-title>{{title}}</ion-nav-title>
  <ion-content>
    <!--内容-->
    <style>
      .h5yangshi {
        color: #000000;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
        margin: 5px 10px;
      }

    </style>
    <div style="">
      <div ng-repeat="item in data" class="card" style="padding: 15px 0px;margin-bottom: 10px;border-radius: 3px;position: relative ;">
        <img style="width: 40px ;border: 2px solid white;; border-radius: 50%;position: absolute;left: 15px" src="{{item.headpicurl}}" alt="">
        <span style="margin-left: 65px">{{item.name}} / {{item.title}}</span>
        <img ng-click="newDetail($index)" style="width: 100%" src="{{item.picurl}}" alt="">
        <h5 class="h5yangshi">{{item.description}}</h5>
        <div style="margin: 20px 10px 0px 10px">
          <span style="color:rgb(37 , 170 ,226)">{{item.classification}}</span > | <span>{{item.concernCount}} 关注 | </span><span>{{item.questionCount}}提问</span>
          <span style="padding: 5px 10px;border-radius: 30px;background: orangered;float: right;margin-right: 15px;color: white">+关注</span>
        </div>
      </div>
    </div>

    <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
    <ion-infinite-scroll on-infinite="loadMore()" immediate-check=false></ion-infinite-scroll>

  </ion-content>
</ion-view>
