<div class="has-header">
  <ion-view>
    <ion-nav-title>我的</ion-nav-title>
    <ion-content style="background-color: rgb(239,239,239)">
      <div style="height:200px;text-align: center;background-color: white;padding: 80px 0px 20px;background: url('https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487927155&di=eb34c5a4ce5f3b399863e4eb473b6d7b&src=http://pic.90sjimg.com/back_pic/u/00/38/54/05/560412efec2d6.jpg') no-repeat" ng-click="loginFn()">
        <img style="width: 60px;border-radius: 50%;" src="{{touxiang}}" alt=""><br>
        <span>{{denglu}}</span>
      </div>


      <style>
        .list a{
          margin-top: 5px;
        }
      </style>

      <div class="list" style="margin-top: 7px;">

        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-ios-email-outline"></i>
          信息
          <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-ios-people-outline"></i>
          朋友
          <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-social-twitter-outline"></i>
          分享
          <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-ios-paper-outline"></i>
          意见
          <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-ios-gear-outline"></i>
          设置{{yonghuurl}}
          <i class="icon ion-ios-arrow-right"></i>
        </a>

      </div>
    </ion-content>
  </ion-view>

</div>
